.firstSection {
    margin-top: 2rem;
    text-align: center;
}

.aboutHeadline {
    font-size: 2.7rem;
    font-family: "BIZ UDPGothic", sans-serif;
}

.aboutTxt {
    margin-top: 1rem;
    font-size: 1.9rem;
    font-family: "BIZ UDPGothic", sans-serif;
}

.secondSection {
    display: flex;
    margin-left: 5rem;
    margin-top: 4rem;
}
 
.infoSection{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-top: 2.5rem;
    padding: 0 5rem 0 5rem;
}

.chooseHeadline {
    font-size: 2.4rem;
    font-family: "BIZ UDPGothic", sans-serif;
    text-align: center;
}

.infoWindow {
    display: flex;
    justify-content: center;
    text-align: center;
}

.infoImg {
    max-height: 9rem;
    object-fit: contain;
}


.infoImgTxt {
    position: absolute;
    color: black;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    text-shadow: 0.1rem 0.1rem 0.3rem white;
}

.infoTxt {
    opacity: 0;
    height: 12rem;
    width: 12rem;
    border-radius: 1.75rem;
    padding: 1rem 0.75rem 0 0.75rem;
    color: black;
    font-size: 1.25rem;
    background-color: rgb(201, 238, 21);
    position: absolute;
    transition: opacity 0.5s ease;
}

.infoTxt:hover {
    opacity: 95%;
}

.houseImgSection {
    max-width: 25vw;
    padding-left: 10vw;
    padding-bottom: 4rem;
}

.houseImg {
    max-height: 22.5rem;
}
