.landing {
    background-image: url('../Assets/images/landingImg.png');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    height: 45vw;
    

}




.landingImg {
    object-fit: contain;
    width: 100%;
    
}

.overlayContent {
    text-align: center;
    left: 20vw;
    padding-top:5vw;
    background-color: rgba(30, 30, 30, 0.233);
    height: 45vw;
}

.overlayImg1 {
    object-fit: cover;
    
    height: 30vw;
    
}

.overlayTxt {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    font-size: 5vw;
    text-shadow: black 0.15rem 0.15rem 1.2rem;
}