.navbar  {
    height: 5vw;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(201, 238, 21);
    color: rgb(0, 0, 0);
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.247) 0rem 0.5rem 2em;
}

.navVisible {
    transform: translateY(0);
  }
  
.navHidden {
    transform: translateY(-100%);
  }

.navbar .menuIcon {
    object-fit: cover;
    height: 3.5vw;
    margin-right: 2rem;
    cursor: pointer;
}

.logoTxt {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 700;
    font-size: 3vw;
}

.navBurgerMenu {
    display: flex;
}

.navBurgerMenu:hover {
    cursor: pointer;
}

.pageLinks {
    display: none;
    margin-right: 2rem; 
}


.pageLinks.show {
    display: flex; /* Show the links when .show class is applied */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 5.5rem; /* Position below the navbar */
    right: 2rem; /* Align to the right of the menu icon */
    background-color: rgb(201, 238, 21); /* Match navbar background */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.pageLink {
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1rem; /* Add spacing between links */
    cursor: pointer;
    transition: all 0.3s ease;
}

.pageLink:hover {
    color:rgb(84, 84, 84);
    text-decoration-line: underline;
}

