.floatBtnImg {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    background-color: rgba(165, 165, 165, 0.89);
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    color: black;
    text-align: center;
    opacity: 85%;
}

.btnImg {
    object-fit: contain;
    width: 3rem;
    margin-top: 0.9rem;
}

.openFloatBtn {
    position: fixed;
    z-index: 4;
    width: 5rem;
    height: 5rem;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    padding-top: 2rem;
    border-radius: 5rem;
    color: black;
    background-color: rgb(201, 238, 21);
    box-shadow: black 0.5rem 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "BIZ UDPGothic", sans-serif;
    text-align: center;
    align-items: center;
}
.openFloatBtn:hover {
    opacity: 95%;
    height: 12rem;
    width: 10rem;
    border-radius: 1rem;
    cursor: pointer;
}

.ContactLink {
    color: rgb(84, 84, 84);
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.267);
}
